--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: inventario_compra; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_compra (
    id bigint NOT NULL,
    fecha timestamp with time zone NOT NULL,
    total_coste numeric(10,2) NOT NULL,
    proveedor_id bigint NOT NULL
);


ALTER TABLE public.inventario_compra OWNER TO postgres;

--
-- Name: inventario_compra_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_compra ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_compra_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_compralinea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_compralinea (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    coste_unitario numeric(10,2) NOT NULL,
    compra_id bigint NOT NULL,
    variante_id bigint NOT NULL,
    CONSTRAINT inventario_compralinea_cantidad_check CHECK ((cantidad >= 0))
);


ALTER TABLE public.inventario_compralinea OWNER TO postgres;

--
-- Name: inventario_compralinea_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_compralinea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_compralinea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_country; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_country (
    id bigint NOT NULL,
    code character varying(2) NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.inventario_country OWNER TO postgres;

--
-- Name: inventario_country_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_country ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_country_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_equipo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_equipo (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    tipo character varying(10) NOT NULL,
    country_id bigint NOT NULL
);


ALTER TABLE public.inventario_equipo OWNER TO postgres;

--
-- Name: inventario_equipo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_equipo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_equipo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_modelocamiseta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_modelocamiseta (
    id bigint NOT NULL,
    version character varying(10) NOT NULL,
    imagen_url character varying(200),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    equipo_id bigint NOT NULL,
    temporada_id bigint NOT NULL,
    tipo_kit character varying(12) NOT NULL
);


ALTER TABLE public.inventario_modelocamiseta OWNER TO postgres;

--
-- Name: inventario_modelocamiseta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_modelocamiseta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_modelocamiseta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_proveedor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_proveedor (
    id bigint NOT NULL,
    nombre character varying(150) NOT NULL,
    telefono character varying(30) NOT NULL
);


ALTER TABLE public.inventario_proveedor OWNER TO postgres;

--
-- Name: inventario_proveedor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_proveedor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_proveedor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_stockmovimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_stockmovimiento (
    id bigint NOT NULL,
    tipo character varying(3) NOT NULL,
    cantidad integer NOT NULL,
    fecha_mov timestamp with time zone NOT NULL,
    variante_id bigint NOT NULL,
    CONSTRAINT inventario_stockmovimiento_cantidad_check CHECK ((cantidad >= 0))
);


ALTER TABLE public.inventario_stockmovimiento OWNER TO postgres;

--
-- Name: inventario_stockmovimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_stockmovimiento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_stockmovimiento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_temporada; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_temporada (
    id bigint NOT NULL,
    start_year integer NOT NULL,
    end_year integer,
    CONSTRAINT inventario_temporada_end_year_check CHECK ((end_year >= 0)),
    CONSTRAINT inventario_temporada_start_year_check CHECK ((start_year >= 0))
);


ALTER TABLE public.inventario_temporada OWNER TO postgres;

--
-- Name: inventario_temporada_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_temporada ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_temporada_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_variantecamiseta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_variantecamiseta (
    id bigint NOT NULL,
    talla character varying(6) NOT NULL,
    modelo_id bigint NOT NULL
);


ALTER TABLE public.inventario_variantecamiseta OWNER TO postgres;

--
-- Name: inventario_variantecamiseta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_variantecamiseta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_variantecamiseta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_venta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_venta (
    id bigint NOT NULL,
    fecha timestamp with time zone NOT NULL,
    total_ingreso numeric(10,2) NOT NULL
);


ALTER TABLE public.inventario_venta OWNER TO postgres;

--
-- Name: inventario_venta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_venta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_venta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventario_ventalinea; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventario_ventalinea (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    variante_id bigint NOT NULL,
    venta_id bigint NOT NULL,
    CONSTRAINT inventario_ventalinea_cantidad_check CHECK ((cantidad >= 0))
);


ALTER TABLE public.inventario_ventalinea OWNER TO postgres;

--
-- Name: inventario_ventalinea_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventario_ventalinea ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventario_ventalinea_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$7zG5dxcXMoyrrpvJ6EXl6h$B5JEbC3b3gJwHGv+1V0vK4SYjCfkmjmXA5uypySapUw=	2025-05-13 18:34:52.11242+00	t	admin			local@local.com	t	t	2025-05-10 11:49:04.738301+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
699f8d94114588de448afc7fe4ed7d3d5eb8a8e4	2025-05-13 18:33:11.075955+00	1
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	inventario	country
8	inventario	variantecamiseta
9	inventario	temporada
10	inventario	stockmovimiento
11	inventario	compralinea
12	inventario	proveedor
13	inventario	equipo
14	inventario	ventalinea
15	inventario	compra
16	inventario	modelocamiseta
17	inventario	venta
18	authtoken	token
19	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
jkqbonq4ddh88aehpe61xq477np2fxdz	.eJxVjMsOwiAQRf-FtSGUNy7d-w1khgGpGkhKuzL-uzbpQrf3nHNfLMK21riNvMSZ2JlN7PS7IaRHbjugO7Rb56m3dZmR7wo_6ODXTvl5Ody_gwqjfmsbhNaIIatQlBIUSnEieZrQaycB0GkrBZoswAJpmQr54lPwBrWxRbH3B-KYOBA:1uEuSq:PheAc_qZIUGunhwUopPB9Dh2xN8vwg55_KaGlTC9rpk	2025-05-27 18:34:52.114041+00
\.


--
-- Data for Name: inventario_compra; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_compra (id, fecha, total_coste, proveedor_id) FROM stdin;
1	2025-05-10 13:57:43.253239+00	150.00	1
2	2025-05-13 18:38:55.593487+00	120.00	1
3	2025-05-13 18:40:24.948269+00	120.00	1
\.


--
-- Data for Name: inventario_compralinea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_compralinea (id, cantidad, coste_unitario, compra_id, variante_id) FROM stdin;
1	5	20.00	1	2
\.


--
-- Data for Name: inventario_country; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_country (id, code, name) FROM stdin;
1	ES	Espa├▒a
2	FR	Francia
\.


--
-- Data for Name: inventario_equipo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_equipo (id, nombre, tipo, country_id) FROM stdin;
1	Real Madrid	CLUB	1
2	Francia	SELECCION	2
\.


--
-- Data for Name: inventario_modelocamiseta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_modelocamiseta (id, version, imagen_url, created_at, updated_at, equipo_id, temporada_id, tipo_kit) FROM stdin;
1	FAN		2025-05-10 00:00:00+00	2025-05-10 00:00:00+00	1	2	LOCAL
2	PLAYER		2025-05-10 00:00:00+00	2025-05-10 00:00:00+00	2	2	LOCAL
\.


--
-- Data for Name: inventario_proveedor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_proveedor (id, nombre, telefono) FROM stdin;
1	Proveedor A	+34 600 000 001
2	Proveedor B	+34 600 000 002
\.


--
-- Data for Name: inventario_stockmovimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_stockmovimiento (id, tipo, cantidad, fecha_mov, variante_id) FROM stdin;
1	IN	5	2025-05-10 13:57:43.253239+00	2
2	OUT	2	2025-05-10 14:10:40.591687+00	1
\.


--
-- Data for Name: inventario_temporada; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_temporada (id, start_year, end_year) FROM stdin;
1	2023	2024
2	2024	2025
\.


--
-- Data for Name: inventario_variantecamiseta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_variantecamiseta (id, talla, modelo_id) FROM stdin;
1	M	1
2	L	1
3	M	2
\.


--
-- Data for Name: inventario_venta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_venta (id, fecha, total_ingreso) FROM stdin;
1	2025-05-10 14:10:40.591687+00	80.00
\.


--
-- Data for Name: inventario_ventalinea; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventario_ventalinea (id, cantidad, precio_unitario, variante_id, venta_id) FROM stdin;
1	2	40.00	1	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 24, true);


--
-- Name: inventario_compra_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_compra_id_seq', 3, true);


--
-- Name: inventario_compralinea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_compralinea_id_seq', 1, true);


--
-- Name: inventario_country_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_country_id_seq', 2, true);


--
-- Name: inventario_equipo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_equipo_id_seq', 2, true);


--
-- Name: inventario_modelocamiseta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_modelocamiseta_id_seq', 2, true);


--
-- Name: inventario_proveedor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_proveedor_id_seq', 2, true);


--
-- Name: inventario_stockmovimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_stockmovimiento_id_seq', 2, true);


--
-- Name: inventario_temporada_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_temporada_id_seq', 2, true);


--
-- Name: inventario_variantecamiseta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_variantecamiseta_id_seq', 3, true);


--
-- Name: inventario_venta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_venta_id_seq', 1, true);


--
-- Name: inventario_ventalinea_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventario_ventalinea_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventario_compra inventario_compra_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_compra
    ADD CONSTRAINT inventario_compra_pkey PRIMARY KEY (id);


--
-- Name: inventario_compralinea inventario_compralinea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_compralinea
    ADD CONSTRAINT inventario_compralinea_pkey PRIMARY KEY (id);


--
-- Name: inventario_country inventario_country_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_country
    ADD CONSTRAINT inventario_country_code_key UNIQUE (code);


--
-- Name: inventario_country inventario_country_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_country
    ADD CONSTRAINT inventario_country_name_key UNIQUE (name);


--
-- Name: inventario_country inventario_country_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_country
    ADD CONSTRAINT inventario_country_pkey PRIMARY KEY (id);


--
-- Name: inventario_equipo inventario_equipo_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_equipo
    ADD CONSTRAINT inventario_equipo_nombre_key UNIQUE (nombre);


--
-- Name: inventario_equipo inventario_equipo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_equipo
    ADD CONSTRAINT inventario_equipo_pkey PRIMARY KEY (id);


--
-- Name: inventario_modelocamiseta inventario_modelocamiset_equipo_id_version_tempor_1c780756_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_modelocamiseta
    ADD CONSTRAINT inventario_modelocamiset_equipo_id_version_tempor_1c780756_uniq UNIQUE (equipo_id, version, temporada_id, tipo_kit);


--
-- Name: inventario_modelocamiseta inventario_modelocamiseta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_modelocamiseta
    ADD CONSTRAINT inventario_modelocamiseta_pkey PRIMARY KEY (id);


--
-- Name: inventario_proveedor inventario_proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_proveedor
    ADD CONSTRAINT inventario_proveedor_pkey PRIMARY KEY (id);


--
-- Name: inventario_stockmovimiento inventario_stockmovimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_stockmovimiento
    ADD CONSTRAINT inventario_stockmovimiento_pkey PRIMARY KEY (id);


--
-- Name: inventario_temporada inventario_temporada_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_temporada
    ADD CONSTRAINT inventario_temporada_pkey PRIMARY KEY (id);


--
-- Name: inventario_temporada inventario_temporada_start_year_end_year_993aac94_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_temporada
    ADD CONSTRAINT inventario_temporada_start_year_end_year_993aac94_uniq UNIQUE (start_year, end_year);


--
-- Name: inventario_variantecamiseta inventario_variantecamiseta_modelo_id_talla_e49c4e58_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_variantecamiseta
    ADD CONSTRAINT inventario_variantecamiseta_modelo_id_talla_e49c4e58_uniq UNIQUE (modelo_id, talla);


--
-- Name: inventario_variantecamiseta inventario_variantecamiseta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_variantecamiseta
    ADD CONSTRAINT inventario_variantecamiseta_pkey PRIMARY KEY (id);


--
-- Name: inventario_venta inventario_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_venta
    ADD CONSTRAINT inventario_venta_pkey PRIMARY KEY (id);


--
-- Name: inventario_ventalinea inventario_ventalinea_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_ventalinea
    ADD CONSTRAINT inventario_ventalinea_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventario_compra_proveedor_id_085e6477; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_compra_proveedor_id_085e6477 ON public.inventario_compra USING btree (proveedor_id);


--
-- Name: inventario_compralinea_compra_id_e4d4bb1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_compralinea_compra_id_e4d4bb1b ON public.inventario_compralinea USING btree (compra_id);


--
-- Name: inventario_compralinea_variante_id_cb7e60a1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_compralinea_variante_id_cb7e60a1 ON public.inventario_compralinea USING btree (variante_id);


--
-- Name: inventario_country_code_7163fdd1_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_country_code_7163fdd1_like ON public.inventario_country USING btree (code varchar_pattern_ops);


--
-- Name: inventario_country_name_b4bba8aa_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_country_name_b4bba8aa_like ON public.inventario_country USING btree (name varchar_pattern_ops);


--
-- Name: inventario_equipo_country_id_f93152d3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_equipo_country_id_f93152d3 ON public.inventario_equipo USING btree (country_id);


--
-- Name: inventario_equipo_nombre_310ec8a5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_equipo_nombre_310ec8a5_like ON public.inventario_equipo USING btree (nombre varchar_pattern_ops);


--
-- Name: inventario_modelocamiseta_equipo_id_50880ac2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_modelocamiseta_equipo_id_50880ac2 ON public.inventario_modelocamiseta USING btree (equipo_id);


--
-- Name: inventario_modelocamiseta_temporada_id_9b17f883; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_modelocamiseta_temporada_id_9b17f883 ON public.inventario_modelocamiseta USING btree (temporada_id);


--
-- Name: inventario_stockmovimiento_variante_id_e1312cac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_stockmovimiento_variante_id_e1312cac ON public.inventario_stockmovimiento USING btree (variante_id);


--
-- Name: inventario_variantecamiseta_modelo_id_043d6b74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_variantecamiseta_modelo_id_043d6b74 ON public.inventario_variantecamiseta USING btree (modelo_id);


--
-- Name: inventario_ventalinea_variante_id_f64993b2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_ventalinea_variante_id_f64993b2 ON public.inventario_ventalinea USING btree (variante_id);


--
-- Name: inventario_ventalinea_venta_id_36ec024c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventario_ventalinea_venta_id_36ec024c ON public.inventario_ventalinea USING btree (venta_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_compra inventario_compra_proveedor_id_085e6477_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_compra
    ADD CONSTRAINT inventario_compra_proveedor_id_085e6477_fk_inventari FOREIGN KEY (proveedor_id) REFERENCES public.inventario_proveedor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_compralinea inventario_compralin_compra_id_e4d4bb1b_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_compralinea
    ADD CONSTRAINT inventario_compralin_compra_id_e4d4bb1b_fk_inventari FOREIGN KEY (compra_id) REFERENCES public.inventario_compra(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_compralinea inventario_compralin_variante_id_cb7e60a1_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_compralinea
    ADD CONSTRAINT inventario_compralin_variante_id_cb7e60a1_fk_inventari FOREIGN KEY (variante_id) REFERENCES public.inventario_variantecamiseta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_equipo inventario_equipo_country_id_f93152d3_fk_inventario_country_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_equipo
    ADD CONSTRAINT inventario_equipo_country_id_f93152d3_fk_inventario_country_id FOREIGN KEY (country_id) REFERENCES public.inventario_country(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_modelocamiseta inventario_modelocam_equipo_id_50880ac2_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_modelocamiseta
    ADD CONSTRAINT inventario_modelocam_equipo_id_50880ac2_fk_inventari FOREIGN KEY (equipo_id) REFERENCES public.inventario_equipo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_modelocamiseta inventario_modelocam_temporada_id_9b17f883_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_modelocamiseta
    ADD CONSTRAINT inventario_modelocam_temporada_id_9b17f883_fk_inventari FOREIGN KEY (temporada_id) REFERENCES public.inventario_temporada(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_stockmovimiento inventario_stockmovi_variante_id_e1312cac_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_stockmovimiento
    ADD CONSTRAINT inventario_stockmovi_variante_id_e1312cac_fk_inventari FOREIGN KEY (variante_id) REFERENCES public.inventario_variantecamiseta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_variantecamiseta inventario_variantec_modelo_id_043d6b74_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_variantecamiseta
    ADD CONSTRAINT inventario_variantec_modelo_id_043d6b74_fk_inventari FOREIGN KEY (modelo_id) REFERENCES public.inventario_modelocamiseta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_ventalinea inventario_ventaline_variante_id_f64993b2_fk_inventari; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_ventalinea
    ADD CONSTRAINT inventario_ventaline_variante_id_f64993b2_fk_inventari FOREIGN KEY (variante_id) REFERENCES public.inventario_variantecamiseta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventario_ventalinea inventario_ventalinea_venta_id_36ec024c_fk_inventario_venta_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventario_ventalinea
    ADD CONSTRAINT inventario_ventalinea_venta_id_36ec024c_fk_inventario_venta_id FOREIGN KEY (venta_id) REFERENCES public.inventario_venta(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

